<h1>Navigation</h1>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/404">404</a></li>
	<li><a href="/upload">Upload image</a></li>
	<li><a href="/docs" target="_blank">Lout documents</a></li>
</ul>
