<nav>
	<li><a href="/">homepage</a></li>
</nav>

<hr>

<h3>Server caching w/ Redis</h3>

<p>Path: /cache/{id?}</p>

<p>If "ID" presents, encodeURIComponent(request.params.id), defaults at 9000.</p>

<ul>
	<li><a href="/cache/123">/cache/123</a></li>
	<li><a href="/cache/9000">/cache/9000</a> same as /cache</li>
	<li><a href="/cache/1">/cache/1</a></li>
	<li><a href="/cache/2">/cache/2</a></li>
	<li><a href="/cache/@google">/cache/@google</a></li>
	<li><a href="/cache/^*@(!'weird-values')"><code>/cache/^*@(!'weird-values')</code></a></li>
</ul>


{{#if user}}
<h3>Result</h3>

<pre>{{{json user}}}</pre>

<p><strong>Caching Data</strong></p>

<p>TTL {{{date cached.ttl}}}</p>

<pre>{{{json cached}}}</pre>

<p><strong>Caching Report</strong></p>
<pre>{{{json report}}}</pre>
{{/if}}