<h3>User</h3>

<ul>
	<li>{{user.firstname}}</li>
	<li>{{user.lastname}}</li>
	<li>{{user.age}}</li>
</ul>

<Button class="btn">Click me</Button>

<h3>WebSocket</h3>
<button id="cms">client.message</button>
<p>Time: <span id="time"></span></p>
<pre id="websocket"></pre>

<h3>Upload file</h3>
<form action="/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="file">
	<button type="submit">Submit</button>
</form>

<h3>Server caching w/ Redis</h3>

<ul>
	<li><a href="/cache/123">/cache/123</a></li>
	<li><a href="/cache/9000">/cache/9000</a></li>
	<li><a href="/cache/1">/cache/1</a></li>
	<li><a href="/cache/2">/cache/2</a></li>
</ul>