<h3>Upload image file</h3>
<form action="/upload" method="POST" enctype="multipart/form-data">
	<input type="file" name="file">
	<button type="submit">Submit</button>
</form>

{{#if error}}
<p>Error: {{errorMsg}}</p>
{{/if}}

{{#if success}}
<div><img width="200" height="200" src="{{raw.publicURL}}"></div>

<p>File uploaded: {{fileName}}</p>

<pre>{{{json raw}}}</pre>
{{/if}}