<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/assets/main.css">
</head>

<body>
	{{! This is comment. Will not render. }}
	{{! include partial views }}
	{{> nav}}

  {{! main view }}
	{{{content}}}

	<script src="/assets/bundle.js"></script>
</body>

</html>
